/* .edui-default .edui-bubble .edui-popup-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.edui-default .edui-bubble .edui-popup-content>nobr{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.edui-default .edui-bubble .edui-popup-content>nobr>div{    
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edui-default .edui-bubble .edui-popup-content>nobr>span{   
    line-height: 28px;
}

.edui-default .edui-popup{
    max-width: 600px;    
}
